@media screen and (min-width: 1200px) {
  .container_dollars {
    position: absolute;
    top: -128px;
    left: 0;
    width: 100%;
  }
  .block_dollars {
    display: flex;
    justify-content: space-between;
  }
  .dollar_svg {
    display: flex;
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .container_dollars {
    position: absolute;
    top: -128px;
    left: 0;
    width: 100%;
  }
  .block_dollars {
    display: flex;
    justify-content: space-between;
  }
  .dollar_svg {
    display: flex;
    width: 16px;
    height: 16px;
  }
}
